<%- include('./common/head') %>

    <div class="container">

        <!-- Login Form -->

        <div id="login-form">

            <h2>Forget Password</h2>

            <% if (successMessage && successMessage.length> 0) { %>
                <div class="alert alert-success" style="color: #ffffff;" id="flash-message">
                  <%= successMessage %>
                </div>
                <% } %>
                  <% if (errorMessage && errorMessage.length> 0) { %>
                    <div class="alert alert-danger" style="color: #ffffff;" id="flash-message">
                      <%= errorMessage %>
                    </div>
                    <% } %>
                    <br>

            <form id="loginForm" action="/admin/forgot_password" method="post">
                <div class="form-group">
                    <label for="login-email">Enter Your Mail Id</label>
                    <input type="email" id="login-email" name="email" required>
                </div>

                <button type="submit">Submit</button>

            </form>
        </div>

    </div>

    <script>
        setTimeout(() => {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.style.display = 'none';
            }
        }, 3000);
    </script>
