<%- include('./common/head') %>

    <div class="container">

        <!-- Login Form -->

        <div id="login-form">

            <h2>Reset Your Password</h2>

            <% if (successMessage && successMessage.length> 0) { %>
                <div class="alert alert-success" style="color: #ffffff;" id="flash-message">
                  <%= successMessage %>
                </div>
                <% } %>
                  <% if (errorMessage && errorMessage.length> 0) { %>
                    <div class="alert alert-danger" style="color: #ffffff;" id="flash-message">
                      <%= errorMessage %>
                    </div>
                    <% } %>

                    <br>
                    
            <form id="loginForm" action="/admin/password/reset" method="post">

                <div class="form-group">
                    <label for="login-email">Your Mail Id</label>
                    <input type="email" id="login-email" name="email" value="<%= email %>" required>
                </div>

                <div class="form-group">
                    <label for="login-password">Enter Your New Password</label>
                    <input type="password" id="login-password" name="newPassword" required>
                </div>

                <button type="submit">Reset Password</button>

            </form>
        </div>

    </div>

    <script>
        setTimeout(() => {
          const flashMessage = document.getElementById('flash-message');
          if (flashMessage) {
            flashMessage.style.display = 'none';
          }
        }, 3000);
      </script>